<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        条件渲染
            1.v-if
                写法:
                    (1).v-if="表达式"
                    (2).v-else-if="表达式"
                    (3).v-else="表达式"
                适用于：切换不频繁的场景。
                特点：不展示的DOM元素直接被移除。
                注意：v-if可以和v-else-if、v-else 一起使用，但要求结构不能被"打断"。
            
            2.v-show
                写法：v-show="表达式"。
                适用于：切换频率较高的场景。
                特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉。
            
            3.备注：使用v-if时，元素可能无法获取，而使用v-show一定可以获取到。

     -->

    <!-- 准备一个容器 -->
    <div id="root">
        <!-- 用 show 做条件渲染 -->
        <!-- <h2 v-show="false">欢迎来到{{name}}</h2>
        <h2 v-show="1 === 1">欢迎来到{{name}}</h2> -->

        <!-- 使用 if 做条件渲染 -->
        <!-- <div v-if="false">欢迎来到{{name}}</div>
        <div v-if="1 === 1">欢迎来到{{name}}</div> -->

        <!-- v-else和v-else-if -->
        <!-- <div v-if="n === 1">Angular</div>
        <div v-else-if="n === 2">React</div>
        <div v-else-if="n === 3">Vue</div>
        <div v-else>哈哈😄</div> -->

        <!-- v-if与template的配合使用 -->
        <template v-if="n === 1">
            <h2>你好</h2>
            <h2>严宇琪</h2>
            <h2>武汉</h2>
        </template>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false

    new Vue({
        el: '#root',
        data: {
            name: "MiraiSea",
            n: 1
        }
    })
</script>

</html>